# Specify the full path of qemu-system-i386
executable:/home/epeius/work/DSlab.EPFL/FinalSubmitV2/s2ebuild/qemu-release/i386-s2e-softmmu/qemu-system-i386
# Specify the memory size
memory:128
# Specify the network configure
network:none
# Specify the usbdevice
usbdevice:tablet
# Specify the monitor
monitor:stdio
# Specify the hardware disk
hda:/home/epeius/work/DSlab.EPFL/FinalTest/s2ebuild/images/debian.raw.s2e
# Specify the snapshot name
vm:forkstate
# Specify the full path of configure file
configfile:/home/epeius/work/DSlab.EPFL/FinalSubmitV2/testplace/forkstate.lua
